<template>
  <div>
    <table style="width:100%">
      <br />
      <tr>
        <th>Currency</th>
        <th @click="orderMarket()">Market</th>
        <th @click="orderPrice()">Price</th>
        <th @click="orderVolume()">Volume</th>
      </tr>
      <tr v-for="(crypto,index) in list" :key="index">
        <td>{{crypto.name}}</td>
        <td>{{crypto.market}}</td>
        <td>{{crypto.price}}</td>
        <td>{{crypto.volume}}</td>
      </tr>
    </table>
  </div>
</template>

<script>

export default {
  name: "CryptoList",
  data() {
    return {
      list: this.cryptocurrencies,
      volumeOrder: false,
      marketOrder: false,
      priceOrder: false,
    };
  },
  props: ["cryptocurrencies"],
  methods: {
    orderVolume() {
      if (this.volumeOrder) {
        this.list.sort(function (a, b) {
          return parseInt(a.volume) - parseInt(b.volume);
        });
      } else {
        this.list.sort(function (a, b) {
          return parseInt(b.volume) - parseInt(a.volume);
        });
      }
      this.volumeOrder = !this.volumeOrder;
    },

    orderMarket() {
      if (this.marketOrder) {
        this.list.sort(function (a, b) {
          return parseInt(a.market) - parseInt(b.market);
        });
      } else {
        this.list.sort(function (a, b) {
          return parseInt(b.market) - parseInt(a.market);
        });
      }
      this.marketOrder = !this.marketOrder;
    },

    orderPrice() {
      if (this.priceOrder) {
        this.list.sort(function (a, b) {
          return parseInt(a.price) - parseInt(b.price);
        });
      } else {
        this.list.sort(function (a, b) {
          return parseInt(b.price) - parseInt(a.price);
        });
      }
      this.priceOrder = !this.priceOrder;
    },
    
  },
  computed: {},
};
</script>
