<template>
  <div>
    <table style="width:100%">
      <br />
      <tr>
        <th>Currency</th>
        <th>Market</th>
        <th>Price (USD)</th>
        <th>Volume</th>
        <th>Last update</th>
      </tr>
      <tr>
        <td>{{render.name}}</td>
        <td>{{render.market}}</td>
        <td>{{render.price}}</td>
        <td>{{render.volume}}</td>
        <td>{{render.date}}</td>
      </tr>
    </table>
    <chart :chartData="chartdata" :options="options"></chart>
  </div>
</template>

<script>
import Chart from "@/components/Chart.vue";

export default {
  name: "SelectedCrypto",
  props: ["render"],
  components: {
    Chart,
  },
  data() {
    return {
      chartdata: {
        labels: this.render.dates.reverse(),
        datasets: [
          {
            label: "Data One",
            backgroundColor: "#f87979",
            data: this.render.series.reverse(),
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
      },
    };
  },
};
</script>