<template>
  <div id="app">
    <b-form @submit.prevent="cryptoInfo()" class="selectCrypto">
      <b-form-input placeholder="Elija una opción" list="my-list-id" v-model="moneda"></b-form-input>

      <b-button type="submit" variant="danger">send</b-button>
      <b-button v-show="selected" variant="dark" @click="backToList()">Back to the list</b-button>

      <datalist id="my-list-id">
        <option v-for="crypto in cryptos" :key="crypto">{{ crypto }}</option>
      </datalist>
    </b-form>

    <div v-if="selected">
      <SelectedCrypto :render="render"></SelectedCrypto>
    </div>

    <div v-if="!selected">
      <CryptoList :cryptocurrencies="cryptocurrencies"></CryptoList>
    </div>
  </div>
</template>

<script>
import apiRequest from "@/service/apiRequest.js";
import Lavadora from "@/service/lavadora.js";
import SelectedCrypto from "@/components/SelectedCrypto.vue";
import CryptoList from "@/components/CryptoList.vue";

export default {
  name: "App",
  components: {
    SelectedCrypto,
    CryptoList,
  },
  data() {
    return {
      data: {},
      volume: [],
      cryptocurrencies: [],
      cryptos: ["Bitcoin", "Ethereum", "Ripple"],
      moneda: "",
      render: "",
      selected: false,
    };
  },
  methods: {
    cryptoInfo() {
      if (this.moneda !== "") {
        if (this.moneda === "Bitcoin") {
          this.render = this.cryptocurrencies[0];
        }
        if (this.moneda === "Ethereum") {
          this.render = this.cryptocurrencies[1];
        }
        if (this.moneda === "Ripple") {
          this.render = this.cryptocurrencies[2];
        }
        this.moneda = "";
        this.selected = true;
      }
    },
    backToList() {
      this.selected = false;
    },

    async getCurrencies() {
      const getData = await apiRequest();

      const bitcoinClass = new Lavadora(getData[0])
      const ethereumClass = new Lavadora(getData[1])
      const rippleClass = new Lavadora(getData[2])

      const bitcoin = bitcoinClass.getCurrency()
      const ethereum = ethereumClass.getCurrency()
      const ripple = rippleClass.getCurrency()

      this.cryptocurrencies.push(bitcoin);
      this.cryptocurrencies.push(ethereum);
      this.cryptocurrencies.push(ripple);
    },

  },
  beforeMount() {
    this.getCurrencies();
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.selectCrypto {
  margin: 0 auto;
  width: 50%;
}
</style>

